<center>
  <div class = "container-fluid">
    <div class = "row">
      <h1>2016 Presidential Election PollTracker</h1>
      <p>as of <%= @date = Time.now
      @date.strftime("%B %d, %Y") %></p>
    </div>
  <div class = "row">
    <%= render "linechart" %>
  <div>

  <div class = "row">
    <div class="col-md-6">
      <%= render "nationalaverages" %>
      </div>

    </div>
    <div class="row">
      <h6>Data courtesy of the Huffington Post's <%=link_to "Pollster API", "http://elections.huffingtonpost.com/pollster/api"  %></h6>
    </div>
  </div>

</center>
